{% extends 'music/base.html' %}
{%block title%}Album details{%endblock%}
{%block albums_active%}active{%endblock%}

{%block body%}
    <div class="container-fluid songs-container">
        <div class="row">
            <div class="col-sm-4 col=md-3">
                <div class="panel-body">
                    <a href="{$ url 'music:detail' album.id %}">
                        <img src="{{album.Album_logo.url}}" class="img-responsive">
                    </a>
                    <h1>{{album.Album_title}}
                        <small>{{album.Composer}}</small>
                    </h1>
                    <h2>{{album.Lyricist}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid songs-container">
        <div class="row">
            <div class="col-sm-8 col-md-12">
                <ul class="nan nav-pills" style="margin-bottom: 10px;">
                <li class="active"><a href="{%url 'music:detail' album.id %}">view All</a></li>
                <li><a href="#">Add New SOng</a></li>
                </ul>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3>All Songs</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Audio</th>
                                    <th>Favorite</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{%endblock%}