{% extends 'music/base.html' %}
{%block title%}Album details{%endblock%}
{%block albums_active%}active{%endblock%}

{%block body%}
    <div class="container-fluid songs-container">
        <div class="row">
            <div class="col-sm-4 col=md-3">
                <div class="panel-body">
                    <a href="{$ url 'music:detail' album.id %}">
                        <img src="{{album.Album_logo.url}}" class="img-responsive">
                    </a>
                    <h1 style="font-size:30px;"> {{album.Album_title}}<br/>
                        <small>{{album.Composer}}</small>
                    </h1>
                    <h2>{{album.Lyricist}}</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid songs-container">
        <div class="row">
            <ul id="song">
                <li><a href="" id="view-btn">View All</a></li>
                <li><a>New Songs</a></li>
            </ul>
                <div class="panel panel-default table-align">
                    <div class="panel-body">
                        <h3>All Songs</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Audio</th>
                                    <th>Favorite</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for song in album.song_set.all%}
                                <tr>
                                    <th>{{song.song_title}}</th>
                                    <th>mp3</th>
                                    <th>{{song.is_favorite}}</th>
                                    <th></th>

                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
{%endblock%}